body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}
.header-main {
    background: #FFFFFF;
}
.title-name-header {
    text-decoration: none;
}

.title-side-left {
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 3%;}

.title-side-right {
        font-family: 'Oleo Script', sans-serif;
        color: #000;
        font-size: 26px;
        font-weight: 400;
        line-height: 35.96px;
        letter-spacing: 3%;}
.title-header-left {
   
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;

        text-decoration: none;
        }
.title-header-left:hover, .title-header-left:focus {
color: #2196F3;}

.title-header-center {
          
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #212121;
}
.title-header-center:hover, .title-header-center:focus {
    color: #2196F3;}

.title-header-right:hover, .title-header-right:focus {
    color: #2196F3;}

.title-header-right {
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;
}
.mail-header {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.mail-header:hover, .mail-header:focus, .tel-header:hover, .tel-header:focus {
    color: #2196F3;
}
.tel-header {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #757575;
        
}
.title-name-footer {
        text-decoration: none;
}
.address-footer {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
}
.footer-main {
   
    
        background: #2F303A;
}
.tel-footer {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        
    text-decoration: none;
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}
.mail-footer {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-decoration: none;
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}
.main-top-background {
 
    
        background: #2F303A;
}
.text-mainpage {
    
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}
.button-mainpage {
        cursor: pointer;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
.article-mainpage h3 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.article-mainpage p {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}
.main-central h2 {
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}
.main-central img {

}

.main-bottom {   
        background: #F5F4FA;
}
.main-bottom h2 {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.main-bottom h3 {
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
}
.main-bottom p {    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #757575;
}
.main-bottom li {
    background: #FFFFFF;
}