body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    color:#212121
}
.header-main {
    background: #FFFFFF;
}
.title-name-header {
    text-decoration: none;
}

.title-side-left {
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1738;
    letter-spacing: 3%;}

.title-side-right {
        font-family: 'Oleo Script', sans-serif;
        color: #000;
        font-size: 26px;
        font-weight: 400;
        line-height: 1.383;
        letter-spacing: 3%;}
.title-header a {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.02em;
        color: #212121;
        text-decoration: none;
        }
.title-header a:hover, .title-header a:focus, .title-header a:active {
color: #2196F3;}

.mail-header {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: #757575;
}
.mail-header:hover, .mail-header:focus, .tel-header:hover, .tel-header:focus {
    color: #2196F3;
}
.tel-header {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #757575;
}
.title-name-footer {
        text-decoration: none;
}
.address-footer {
        font-size: 14px;
        line-height: 1.1714;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.footer-main {
        background: #2F303A;
}
.tel-footer {
        font-size: 14px;
        line-height: 1.1714;
    text-decoration: none;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.mail-footer {
        font-size: 14px;
        line-height: 1.1714;
        text-decoration: none;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.main-top-background {
 
    
        background: #2F303A;
}
.text-mainpage {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.364;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}
.button-mainpage {
        cursor: pointer;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}
.article-mainpage h3 {
font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.article-mainpage p {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}
.main-central h2 {
        font-size: 36px;
        line-height: 1.167;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.main-bottom {   
        background: #F5F4FA;
}
.main-bottom h2 {

font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.main-bottom h3 {
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.main-bottom p {    
        font-size: 16px;
        line-height: 1.188;
            text-align: center;
        letter-spacing: 0.03em;
            color: #757575;
}
.main-bottom li {
    background: #FFFFFF;
}
.button-portfolio button {
    cursor: pointer;
    background: #F5F4FA;
    border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.button-portfolio button:hover, .button-portfolio button:focus {
    background: #2196F3;
    color: #FFFFFF;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}
.portfolio-central li {
background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.portfolio-central h3 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-central p {
      font-size: 16px;
    line-height: 1.875;
        letter-spacing: 0.03em;
    color: #757575;
}